body {
  background-color: #272b30 !important;
}

.title, h5 {
  color: #ee9d43;
}

.img:hover {
  opacity: 0.5;
}

h2, p {
  color: #c8c8c8;
}

.button {
  color: #fff;
  background-color: #ee9d43;
  padding: 3px 10px;
  border: 1px solid #ee9d43;
  border-radius: 3px;
  float: right;

}

.button:hover {
  color: #ee9d43;
  background-color: #272b30;
  border-color: #ee9d43;
}
